.svg-arrow-dims {
	width: 8px;
	height: 10px;
}

.svg-bg1-dims {
	width: 407px;
	height: 480px;
}

.svg-bg2-dims {
	width: 495px;
	height: 401px;
}

.svg-dorohov-dims {
	width: 116px;
	height: 39px;
}

.svg-email_circle-dims {
	width: 29px;
	height: 29px;
}

.svg-input_email-dims {
	width: 22px;
	height: 22px;
}

.svg-input_name-dims {
	width: 22px;
	height: 22px;
}

.svg-input_phone-dims {
	width: 22px;
	height: 22px;
}

.svg-learn-dims {
	width: 24px;
	height: 24px;
}

.svg-phone_circle-dims {
	width: 29px;
	height: 29px;
}

.svg-spec1-dims {
	width: 82px;
	height: 84px;
}

.svg-spec10-dims {
	width: 82px;
	height: 84px;
}

.svg-spec11-dims {
	width: 82px;
	height: 84px;
}

.svg-spec12-dims {
	width: 82px;
	height: 84px;
}

.svg-spec2-dims {
	width: 82px;
	height: 84px;
}

.svg-spec3-dims {
	width: 82px;
	height: 84px;
}

.svg-spec4-dims {
	width: 82px;
	height: 84px;
}

.svg-spec5-dims {
	width: 82px;
	height: 84px;
}

.svg-spec6-dims {
	width: 82px;
	height: 84px;
}

.svg-spec7-dims {
	width: 82px;
	height: 84px;
}

.svg-spec8-dims {
	width: 82px;
	height: 84px;
}

.svg-spec9-dims {
	width: 82px;
	height: 84px;
}

