body {
    font-family: 'Roboto';
}

* {
    box-sizing: border-box;
}

img,
svg {
    width: 100%;
    vertical-align: middle;
}

iframe {
    vertical-align: top;
}

.mb-5 {
    margin-bottom: 50px !important;
}

.ruble {
    font-family: Arial, 'Roboto';
}

.map-big #map {
    width: 100%;
    height: 500px;
}

.is--menuopen {
    overflow: hidden;
}