.heading {
    margin-bottom: 40px;
    &.is--center {
        text-align: center;
    }
    &.is--bold {
        .heading {
            &__title {
                font-weight: bold;
            }
        }
    }
    &__inner {
        @extend .container;
    }
    &__title {
        line-height: 77px;
        font-size: 50px;
    }
    &__subtitle {
        max-width: 770px;
        margin: 0 auto;
        padding-top: 20px;
        color: #6A6A6A;
        line-height: 28px;
        font-size: 18px;
    }
}

@media (max-width: $resp768) {
    .heading {
        &__title {
            font-size: 32px;
            line-height: 34px;
        }
        &__subtitle {
            font-size: 16px;
            line-height: 18px;
        }
    }
}

@media (max-width: 400px) {
    .heading {
        &__title {
            font-size: 24px;
            line-height: 28px;
        }
    }
}