$navbar_height: 90px;
$navbar_bg: #fff;

$menu_color: #000;
$menu_hover_color: #004C83;
$menu_mobile_bg: #E5EDF2;

$button_bg: #004C83;

$grid_paddings: 15px;
$grid_width: 1720px + ($grid_paddings * 2);

$logo_color: #212121;

$resp1920:                              1920px;
$resp1400:                              1400px;
$resp1200:                              1200px;
$resp1025:                              1025px;
$resp768:                               768px;
$resp320:                               320px;

$footer_bg: #F2F2F2;